.h2about{
    font-family: Trebuchet MS;
    color: black;
    margin-left: 500px;
}

.textaboutme{
    
    font-family: Trebuchet MS;
    color: black;
    
}

.textaboutmediv{
  margin-top: 75px;
}