   

.Leader-Boards{
    font-family: Trebuchet MS;
    color: black;
    
}

.Leader-Board-text{
    text-decoration: None;
    color: black;
    margin-left: 200px;

}
.imgleaderboard{
    width: 100px;
    height: 100px;
    margin-left: 200px;
    margin-top: 75px;    
    
}